body {
    background-color: #000000;
    color: #eaeaea; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img.carousel-image {
    display: block;
    margin: auto;
    max-height: 600px; 
    width: auto; 
}

h1, h2 {
    text-align: center;
    color: #f05a28; 
}

p, ul {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

img {
    display: block;
    margin: 20px auto; 
    width: 300px; 
    height: auto; 
    max-height: 250px; 
    object-fit: cover; 
    border: 2px solid #f05a28; 
    border-radius: 5px; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #bbb; 
}
nav {
    max-width: 800px; 
    padding: 20px; 
    background-color: rgba(34, 34, 34, 0.8); 
    border-radius: 10px; 
    margin: 20px auto; 
}

nav ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 30px;
}

nav ul li {
    font-weight: bold; 
}

nav ul li a {
    color: #FFD600; 
    text-decoration: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background 0.3s, color 0.3s; 
}

nav ul li a:hover {
    background: rgba(255, 214, 0, 0.2); 
    color: #fff;
}
