body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

article {
    text-align: start; /* Centra el texto dentro del artículo */
}

.member-image {
    width: 200px; /* Establece un tamaño uniforme para las imágenes */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 10px 0; /* Espaciado vertical entre las imágenes */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}
.Nombre{
    display: flex;
    justify-content: center;
}
.texto{
    display: flex;
    justify-content: center;
}
.ultimo{
    display: flex;
    justify-content: center;
}
h1{
    font-style: italic;
}