header {
    display: flex;              /* Usa Flexbox */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente (opcional) */
    height: 100px;               /* Ajusta la altura según necesites */
}

header img {
    max-width: 100%;           /* Asegura que la imagen no exceda el contenedor */
    height: auto;              /* Mantiene la proporción de la imagen */
}
.Titulo{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

p{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;

}
aside img{
    display: flex;              
    justify-content: center;   
    width:auto;
    margin: 0%;
    padding: 0%;
}